
  <div class="card" style="width: 18rem;">
    <div class="card-header">
     Comics
    </div>
    <ul class="list-group list-group-flush">
      <% @comics.each do |c| %>
        <li class="list-group-item">
          <%= link_to c.title, c, class: 'btn btn-secondary' %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <%= link_to 'New Comic', new_comic_path, class: 'btn btn-secondary'%>
  </div>

