
  <div class="container">
    <% @comics.each do |c| %>
      <%= link_to c.title, c, class: 'btn btn-secondary' %>
    <% end %>
  </div>
  <div class="container">
    <%= link_to 'New Comic', new_comic_path, class: 'btn btn-secondary'%>
  </div>

