@import "bootstrap";

.container {
  padding-top: 5px;
}

.alert {
  margin: 5px;
}

body {
  color: #000000;
  font-weight: bold;
  overflow-wrap: break-word;
  background-color: #535353;
}

div {
  padding: 25px;
}
